.slider-and-checkbox {
  position: relative;
  overflow: hidden;
}

.slider-container {
  position: relative;
}

.page-view {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

.page-view::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.control.prev {
  left: 10px;
}

.control.next {
  right: 10px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
